/* Container do Modal */

.modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    bottom: -100vh;
    left: 0;
    background-color: #0F0001;
    overflow-y: scroll;
    z-index: 9999;
    transition: .3s ease-in-out;
    overflow-y: hidden;
}

.modal-produto {
    display: block;
    height: 80vh;
    max-width: 100vw;
    min-width: 100vw;
    background-color: #0F0001;
    padding-top: 8rem;
    z-index: 99999;
}

.modal-container.ativo {
    bottom: 0;
}

/* Produto */

.fechar-modal {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.produto {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.apresentacao-descricao {
    max-width: 450px;
}

.apresentacao-descricao h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
}

.apresentacao-descricao h1::after {
    content: "";
    display: block;
    width: 15rem;
    height: 3px;
    background: #270003;
    margin: .5rem auto 1.5rem 0;
}

.apresentacao-imagem {
    display: block;
    width: 420px;
    height: 420px;
    background-color: #FCF1F1;
    border-radius: 3px;
}

.item-descricao {
    font-family: 'Bitter', serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    color: #CEC1C1;
}

.apresentacao-ficha {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 1.5rem;
}

.apresentacao-ficha li{
    display: flex;
    gap: .25rem;
    font-family: 'Bitter', serif;
    font-size: 1rem;
}

.apresentacao-ficha li span {
    font-weight: bold;
}

.apresentacao-ficha li p {
    color: #CEC1C1;
}

.apresentacao-descricao label {
    font-family: 'Bitter', serif;
}

#label-tamanho {
    font-weight: bold;
}

#tamanho {
    display: block;
    margin-bottom: 1.5rem;
    background-color: #000;
    color: #fff;
    padding: .25rem .75rem;
    border-radius: 3px;
    border: 2px solid #CEC1C1;
    width: 200px;
    margin-top: .25rem;
}

#tamanho:hover {
    cursor: pointer;
}

.preco {
    display: block;
    font-size: 1.75rem;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
}

.comprar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.quantidade-container {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.quantidade-produto {
    font-size: 1.5rem;
    color: #CEC1C1;
}

.modal-produto .botao-comprar {
    background-color: #FCF1F1 !important;
    color: #000 !important;
    border-radius: 3px;
}

.botao-lista-de-desejos {
    color: #CEC1C1;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.botao-lista-de-desejos::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 17px;
    background: url(../img/coracao.svg) no-repeat center;
    background-size: cover;
}

.botao-altera-quantidade {
    padding: .25rem;
}

.botao-altera-quantidade:hover {
    cursor: pointer;
}